# Archivos de compilación
*.o
*.exe
*.out

# Archivos temporales
*.tmp
*.temp

# Archivos de configuración del editor
*.swp
*.swo
*.DS_Store
*.vscode/
*.idea/

# Archivos de dependencias y configuraciones
/build/
/bin/
/obj/

# Ignorar todo el contenido del directorio output
Etapa 2/output/
